/*---------------------------GENERAL------------------------------*/

body {
    font-family: Helvetica;
    font-weight: 300;
}

/*---------------------------HEADER & NAVIGATION------------------------------*/

header .navbar {
    /* add padding to top and bottom of the navigation */
    padding: 20px 0;
}

header .navbar-default {
    /* deleting the background of the navigaion bar */
    opacity: 0.8;
    /* no border at the bottom of the navigation bar */
    border: none;
}

header .navbar-default .navbar-nav a {
    font-family: 'Raleway', sans-serif;
    /* resizing the fontsize relatively to the default fontsize */
    font-size: 1.8rem;
    font-weight: 400;
    /* fontcolor */
    color: deeppink;
    /*text-shadow: 1px 1px lightgray;*/
}

header .navbar .navbar-brand a {
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5rem;
    color: #363636;
}

.navbar-default .navbar-toggle {
    /* deleting the border around the "hamburger sign" when in mobile mode */
    border: none;
}

header .navbar-default .navbar-nav a:hover,
header .navbar .navbar-brand a:hover {
    /* when hovering over the page links change the color of the font */
    color: darkgray;
    text-decoration: none;
}


/* ---------------SECTION--------------*/

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('../images/about/fly.jpg');
    background-size: cover;
    color: #ffffff;
    height: 600px;

}

.header-image img {
    height: 100%;
    width: 100%;
}

/* --------------------------MAIN CONTENT AREA---------------------------- */

.main h1,
.main p {
    font-family: 'Raleway', sans-serif;

}


/*-----------------------FOOTER AREA-------------------------*/

footer {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Raleway, sans-serif;
    text-align: center;
}


/*-------------------------------------- MEDIA QUERIES --------------------------------------*/

/* to override some settings in different views */

/* Large desktops and laptops */

@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    /* resizing the font size to a smaller fontsize to avoid horizontal scrolling in the iPade view */
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    /* resizing the font size to a smaller fontsize to avoid horizontal scrolling in the iPade view */
}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    header .navbar {
        /* add padding to top and bottom of the navigation */
        padding: 2px 0;
    }
    header .navbar .navbar-brand a {
        font-size: 1.8rem;

    }
}

/* Portrait phones and smaller */

@media (max-width: 480px) {
    header .navbar {
        /* add padding to top and bottom of the navigation */
        padding: 2px 0;
    }
    header .navbar .navbar-brand a {
        font-size: 1.8rem;

    }
}
